* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAF7;
  color: black;
  font-family: 'Red Hat Mono', monospace;
}

button {
  border: transparent;
  display: flex;
  margin-bottom: 5vh;
  justify-content: center;
  height: 8vh;
  align-items: center;
  border-radius: 5%;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-size: 25px;
  font-family: 'Red Hat Mono', monospace;
  font-weight: bold;
}
